body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

main {
  margin-top: 66px;
  padding-top: 24px;
  min-height: calc(100vh - 66px);
}

@media (max-width: 992px) {
  .navbar > .container {
    padding-right: 140px;
  }

  .language-toggle__wrapper {
    position: absolute !important;
    top: 6px;
    right: 12px;
  }
}

/* Override Bootstrap */
.navbar {
  --bs-navbar-nav-link-padding-x: 1rem !important;
}

/* SideBar */
.sidebar-outter-wrapper {
  width: 238px;
}

.sidebar-wrapper {
  background-color: var(--bs-dark);
  height: calc(100vh - 100px);
  width: 250px;
}

.sidebar-section-element {
  background-color: var(--bs-gray-400);
}

.sidebar-section-element span {
  font-size: 14px;
}

.sidebar-section-element i {
  font-size: 20px;
}

.sidebar-section-element img {
  width: 20px;
  height: 20px;
}

.sidebar-wrapper button[data-action] {
  opacity: 0.75;
  transition: 0.2s;
}

.sidebar-wrapper button[data-action]:hover {
  opacity: 1;
}

.sidebar-wrapper button[data-action="cancel"], .sidebar-wrapper button[data-action="refuse"] {
  color: var(--bs-danger);
}

.sidebar-wrapper button[data-action="accept"] {
  color: var(--bs-success);
}
