body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

main {
  margin-top: 66px;
  padding-top: 24px;
}

@media (max-width: 992px) {
  .navbar > .container {
    padding-right: 140px;
  }

  .language-toggle__wrapper {
    position: absolute !important;
    top: 6px;
    right: 12px;
  }
}

/* Override Bootstrap */
.navbar {
  --bs-navbar-nav-link-padding-x: 1rem !important;
}

/* SideBar */
.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sidebar-wrapper h2 {
  line-height: 1;
  margin-bottom: 0;
}

.sidebar-wrapper h3 {
  line-height: 1;
  margin-bottom: 16px;
}

.sidebar-wrapper h5 {
  line-height: 1;
  margin-bottom: 12px;
}

.sidebar-wrapper button {
  font-size: 20px;
  opacity: 0.75;
  background: transparent;
  padding: 2px;
  border: none;
  transition: 0.25s;
}

.sidebar-wrapper button:hover {
  opacity: 1;
}

.sidebar-wrapper button[data-action="cancel"], .sidebar-wrapper button[data-action="refuse"] {
  color: var(--bs-danger);
}

.sidebar-wrapper button[data-action="accept"] {
  color: var(--bs-success);
}

.sidebar-section {
}

.sidebar-subsection {
  margin-top: 20px;
}

.sidebar-section-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-section-element {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 6px 8px;
  background-color: var(--bs-gray-400);
  border-radius: 2px;
}

.sidebar-section-element-info, .sidebar-section-element-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar-section-element-controls {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sidebar-section-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.sidebar-section-username {
  line-height: 1;
}
